.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

h4 {
  text-transform: uppercase;
  text-align: center;
}

.app .plate {
  width: 90%;
  margin-right: 0;
  max-width: 500px;
  padding: 20px;
  margin-bottom: 100px;
}

.form__body .form-field:last-of-type {
  padding-bottom: 0 !important;
}

.form .button {
  display: block;
  margin: auto;
}

@media screen and (max-width: 47.9375em) {
  .app {
    display: block;
    height: auto;
  }

  .app .plate {
    width: 85%;
    padding: 12px;
    display: block;
    margin: 20px auto;
  }
}
